*{
	box-sizing: border-box;
}
body{
	background-image: url("téléchargement.jpg");
	margin: 20px;
	background-color: yellow;
}
#conteneur{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
margin-left: 5%;
}
#bloc1{
	margin-top: 15%;
	background-color: green;
	width: 200%;
	height: 350px;
	margin: 15px;
	margin-left: -55%;
	
}
#bloc2{
	margin-bottom: 25%;
	background-color: blue;
	width: 200%;
	height: 350px;
	margin-right: 0;
	margin-left: -55%;

}
h1{
	text-align: center;
}
p{
	margin-left: 30%;
	width: 250px;
	height: 150px;
	margin-bottom: 20%;
}

@media (min-width:320px) and (max-width:420px) {
	#conteneur{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
margin-left: 2%;
}
	#bloc1{
	margin-top: 5%;
	background-color: green;
	width: 170%;
	height: 170px;
	margin: 50px;
	margin-left: 20%;
	font-size: 75%;
	margin-bottom: 46%;
	margin-right: 5%;
	border: 2px solid black;
	
}
#bloc2{
	border: 2px solid black;
	font-size: 80%;
	margin-bottom: 25%;
	background-color: blue;
	width: 180%;
	height: 350px;
	margin-right: 0;
	margin-left: 15%;

}
p{
	margin-left: 30%;
	width: 230px;
	height: 100px;
	margin-bottom: 20%;
}
.ok1{
	margin-left: 15%;
	margin-right: 10px;
}
.ok3{
	margin-left: 35%;
}
#bloc3{
border: 2px solid black;
	font-size: 80%;
	margin-bottom: 25%;
	background-color: white;
	width: 100%;
	height: 350px;
	margin-right: 0;
	margin-left: 60%
}
.ok5{
	margin-left: 25%;
}
.ok9{
	margin-left: 20%;
}
#bloc4{
	margin-top: 5%;
	background-color: yellow;
	width: 90%;
	height: 170px;
	margin: 50px;
	margin-left: 70%;
	font-size: 75%;
	margin-bottom: 28%;
	margin-right: 150px;
	border: 2px solid black;
}
}

@media (min-width:421px) and (max-width:800px) {
		#conteneur{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: nowrap;
margin-left: 2%;
}
	#bloc1{
	margin-top: 5%;
	background-color: green;
	width: 170%;
	height: 170px;
	margin: 50px;
	margin-left: 0%;
	font-size: 75%;
	margin-bottom: 46%;
	margin-right: -15%;
	border: 2px solid black;
	
}
.ok0{
	margin-left: -10%;
}
.ok11{
	margin-left: 15%;
}
#bloc2{
	border: 2px solid black;
	font-size: 80%;
	margin-bottom: 25%;
	background-color: blue;
	width: 180%;
	height: 350px;
	margin-right: 10%;
	margin-left: 0%;

}
p{
	margin-left: 30%;
	width: 230px;
	height: 100px;
	margin-bottom: 20%;
}
.ok1{
	margin-left: 15%;
	margin-right: 10px;
}
.ok3{
	margin-left: 20%;
}
#bloc3{
border: 2px solid black;
	font-size: 80%;
	margin-bottom: 25%;
	background-color: white;
	width: 120%;
	height: 350px;
	margin-right: 10%;
	margin-left: 70%
}
.ok5{
	margin-left: 25%;
}
.ok9{
	margin-left: -10%;
}
#bloc4{
	margin-top: 5%;
	background-color: yellow;
	width: 90%;
	height: 170px;
	margin: 50px;
	margin-left: 70%;
	font-size: 75%;
	margin-bottom: 28%;
	margin-right: 150px;
	border: 2px solid black;
}
div{
margin-left: -10%;
	}

}
